/* Vars:
   ========================================================================== */

// Font
$mainFont: "Ubuntu", sans-serif;

$mainFontColor: #ffffff;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$backgroundColor: #242525;
$mainButtonColor: #3c3c3c;

$blackDark: #191818;
$grey: #686868;
$blood: #931636;

$desktopWidth: 1200px;
$smDesktopWidth: 991px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
