@import "../../assets/scss/utils/app.scss";

.bookmarksTab {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .news {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
